<!DOCTYPE html>
<html>
  <head>
    <title> Sorry, try again? </title>
  </head>
  <body>
    <h1> Glad you played </h1>
    <p> However you have reached the maximum number of tries for the current game </p>

    <img src="images/lose.jpg"
      alt="Never give up"
      sizes="(min-width: 600px) 200px, 50vw">

    <p>
      <a href="/play" title="Would you like to give it another shot?">
        Would you like to give it another shot?
      </a>
    </p>

  </body>
</html>
