<!DOCTYPE html>
<html>
  <head>
    <title> Sorry, try again? </title>
  </head>
  <body>
    <h1> Glad you played </h1>
    <p> However you have reached the maximum number of tries for this game </p>
    <a href="/play" title="Would you like to give it another shot?">
      Would you like to give it another shot?
    </a>
  </body>
</html>
