<!DOCTYPE html>
<html>
  <head>
    <title> Give up ? </title>
  </head>
  <body>
    <h1> Glad you played </h1>
    <p> So you think this is hard, you should try the TIY backend course </p>
    <a href="/play">
      Would you like to give it another shot?
    </a>
  </body>
</html>
