<!DOCTYPE html>
<html>
  <head>
    <title> Give up ? </title>
  </head>
  <body>
    <h1> Glad you played </h1>
    <p> So you think this is hard, you should try the TIY back end course </p>
    <a href="/play">
      Give it another shot?
    </a>
    <img src="images/no_uncle.jpg"
      alt="Never give up"
      sizes="(min-width: 600px) 200px, 50vw">
  </body>
</html>
