<!DOCTYPE ">
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="css/style.css" >
  </head>
  <body></body>
  <h1>Welcome to the game of Mastermind</h1>
  <p>
    <a href="/play" >
      Are you ready to play?
    </a>
  </p>
  <img src="images/Mastermind.jpg"
    alt="Mastermind"
    sizes="(min-width: 600px) 200px, 50vw">

</html>
