<!DOCTYPE ">
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="css/style.css" >
  </head>
  <body></body>
  <h1>Welcome to the game of Mastermind</h1>
  <p>
    <a href="/play" >
      Are you ready to play?
    </a>
    <!-- #       Make play into a button -->

  </p>
  <p>
    How to play:

  </p>
  <p>
    History of the Mastermind game
  </p>
</html>
