!!!
%html
  %head
    %title Welcome
    %link(rel="stylesheet" href="css/style.css")
  %body
  %h1 Welcome to the game of Mastermind
  %p
    Are you ready to play?
    %a.link#link1(href="/play") Play
    -# Make play into a button
    -# %strong
    -#   bold and
    -#   %em italicized
    -#   text.
  %p
    
  %p
    History of the Mastermind game
    %a.link#link1(href="/guess") played
