<!DOCTYPE html>
<html>
  <head>
    <title> You are a Winner  </title>
  </head>
  <body>
    <h1> Congratulations! </h1>
    <h2> You WON </h2>
    <img src="images/won.gif"
      alt="Won"
      sizes="(min-width: 600px) 200px, 50vw">

    <p>
      <a href="/play" >
        Would you like to play again?
      </a>
    </p>

  </body>
</html>
