<!DOCTYPE html>
<html>
  <head>
    <title> You are a Winner  </title>
  </head>
  <body>
    <h1> Congratulations! </h1>
    <p> You WON </p>
    <a href="/play" >
      Play again?
    </a>
  </body>
</html>
